body {
background-image: url('/img/western-texture.png');
color: #222;
}
a {color: #154066;}
hr {border-color: rgb(131, 107, 76);}

.dropdown-menu, .btn-default {opacity: .8;}

.top-buttons {margin: .8em .2em;}

.vpadded {padding: 1em 0;}
.voffset {margin:.5em 0;}
.centered {text-align:center;}
.caret {opacity:.8;}

.container {
background: rgba(131, 107, 76, 0.8);
-webkit-box-shadow: 10px 10px 28px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 28px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 28px 0px rgba(0,0,0,0.75);
}

.brand {
color: #333;
font-size: 3.2em;
font-family: 'Ewert', sans-serif;
opacity: .9;
background: url('/img/logo.png') no-repeat 0 .1em;
padding-left: 50px;
}
.brand:hover {
color: #111;
text-decoration: none;
}

.col-2 {
-moz-column-count: 2;
-moz-column-gap: 10px;
-webkit-column-count: 2;
-webkit-column-gap: 10px;
column-count: 2;
column-gap: 10px;
}
.col-3 {
-moz-column-count: 3;
-moz-column-gap: 10px;
-webkit-column-count: 3;
-webkit-column-gap: 10px;
column-count: 3;
column-gap: 10px;
}